<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485056096485-gn6rh7spsf3vdjv6fju5jpo4onl5cnjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485056096485-gn6rh7spsf3vdjv6fju5jpo4onl5cnjl</string>
	<key>API_KEY</key>
	<string>AIzaSyCUFl32NSDX0vx-e4WyMP6-w9lG2R0WkGk</string>
	<key>GCM_SENDER_ID</key>
	<string>485056096485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApp</string>
	<key>PROJECT_ID</key>
	<string>my-demoapps</string>
	<key>STORAGE_BUCKET</key>
	<string>my-demoapps.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485056096485:ios:e9cc92e7a654f3dcb68c0c</string>
</dict>
</plist>